<template>
  <v-app id="inspire">
    <v-app-bar app color="white" flat>
      <v-img
        max-height="70"
        max-width="70"
        contain
        src="@/assets/spawk.png"
      ></v-img>
      <v-img
        max-height="150"
        max-width="150"
        contain
        src="@/assets/text.png"
      ></v-img>
      <v-tabs centered class="ml-n9" color="grey darken-1">
        <v-tab v-for="link in links" :key="link.title" :to="link.to">
          {{ link.title }}
        </v-tab>
      </v-tabs>
    </v-app-bar>
    <v-main class="grey lighten-3">
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script lang="ts">
//import io from '../node_modules/sockjs-client';
import Vue from 'vue';
import Component from 'vue-class-component';
import { getCookie } from './utils/cookie-typescript-utils';
@Component({
  components: {},
})
export default class App extends Vue {
  created() {}
  mounted() {}
  get links() {
    let links: { title: string; to: string }[] = [];
    if (getCookie('userId') !== undefined) {
      links = [
        { title: 'Jeu', to: '/' },
        { title: 'Classement', to: '/classement' },
        { title: 'A propos', to: '/a-propos' },
        { title: 'Mon compte', to: '/mon-compte' },
      ];
    } else if (getCookie('userId') === undefined) {
      links = [
        { title: 'Jeu', to: '/' },
        { title: 'Classement', to: '/classement' },
        { title: 'A propos', to: '/a-propos' },
        { title: 'Connexion', to: '/connexion' },
        { title: 'Inscription', to: '/inscription' },
      ];
    }

    return links;
  }
}
</script>
