<template>
  <v-container style="max-width: 2000px;">
    <v-sheet class="pa-6" min-height="70vh" rounded="lg">
      <h1>A propos</h1>
      <p>
        <strong>Spawk.io</strong> est un jeu de tchat gratuit et accessible à
        tous qui reprend les bases de l'épervier. Cette page à comme objectif de
        vous informer sur le traitement de vos données en interne et comment
        vous protéger de tout risque de piratage. <br /><br />
        Informations accessibles à tous (via mon compte)<br />
        Pseudo du joueur<br />
        Score du joueur<br />
        Victoire(s) du joueur<br />
        Défaite(s) du joueur<br />
        Connexion sur le jeu (s'il est connecté ou non)<br />
        Autres informations paramètrables par le joueur<br />
        Informations accessibles aux administrateurs<br />
        Mots de passe (hashés via l'algorithme "bcrypt", illisibles pour tout le
        monde)<br />
        Historique des connexions<br />
        Journal des messages envoyés sur le jeu (sous la forme UID du joueur +
        message)<br />
        Certaines de vos données sont stockées dans la base de données à but
        informatif, certaines d'entre elles sont accessibles à tous (citées au
        dessus) mais peuvent être modifiées par vous.
        <br /><br />
        Nous avons conscience que d'autres projets ouvrent et certains d'entres
        eux se retrouvent exploités avec de mauvaises intentions. C'est pourquoi
        nous vous demandons d'avoir un mot de passe différent sur chaque site
        afin de limiter les risques de piratage.
        <br /><br />
        C'est pourquoi nous conservons un historique de connexion pour des
        mesures de sécurité, cela nous permet de limiter l'accès à de
        potentielles personnes malveillantes. En cas de problème, vous pouvez
        faire une demande de suppression de compte auprès d'un administrateur,
        après ça, nous serons incapables d'identifier vos messages.
        <br /><br />
        Pour aboutir à ce projet, nous avons besoin de votre fidélité et de
        votre soutien, pour ce faire, nous vous encourageons à faire preuve de
        maturité et de respect en respectant tous les membres de la communauté
        (bien entendu, vous ne pouvez pas être ami avec toute la communauté).
      </p>
    </v-sheet>
  </v-container>
</template>

<script lang="ts">
// @ is an alias to /src

import Vue from 'vue';
import Component from 'vue-class-component';
@Component
export default class AboutPage extends Vue {
  mounted() {}
}
</script>
