<template>
  <v-container style="max-width: 2000px;">
    <v-sheet class="pa-6" min-height="70vh" rounded="lg">
      <h1>Mon Compte</h1>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
          v-model="login"
          :counter="25"
          :rules="loginRules"
          label="Login"
          required
        ></v-text-field>

        <v-text-field
          v-model="email"
          :rules="emailRules"
          label="E-mail"
          required
        ></v-text-field>

        <v-text-field
          v-model="password"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="passwordRules"
          :type="showPassword ? 'text' : 'password'"
          name="input-10-1"
          label="Mot de passe"
          hint="Au moins 8 caractères"
          required
          @click:append="showPassword = !showPassword"
        ></v-text-field>

        <v-btn :disabled="!valid" class="mr-4" @click="handleSubmit">
          Modifier
        </v-btn>
        <v-btn @click="disconnect">
          se déconnecter
        </v-btn>
      </v-form>
    </v-sheet>
  </v-container>
</template>

<script lang="ts">
// @ is an alias to /src

import Vue from 'vue';
import axios from 'axios';
import Component from 'vue-class-component';
import { getCookie, deleteCookie } from '../utils/cookie-typescript-utils';
import url from '../ProdConst'

interface arrayColums {
  key: string;
  value: string;
}

@Component({
  components: {
    // ConnexionForm,
  },
})
export default class AccountPage extends Vue {
  [x: string]: any;
  showPassword = false;
  login = '';
  email = '';
  password = '';
  valid = true;
  loginRules = [
    (v: string) => !!v || 'Login est requis',
    (v: string) =>
      (v && v.length <= 25) || 'Login doit être plus petit que 25 caractères',
    (v: string) =>
      (v && v.length >= 4) || 'Login doit être plus grand que 4 caractères',
  ];
  passwordRules = [
    (v: string) => !!v || 'Mot de passe est requis',
    (v: string) =>
      (v && v.length <= 25) ||
      'Mot de passe doit être plus petit que 25 caractères',
    (v: string) =>
      (v && v.length >= 8) ||
      'Mot de passe doit être plus grand que 8 caractères',
  ];
  emailRules = [
    (v: string) => !!v || 'E-mail est requis',
    (v: string) => /.+@.+\..+/.test(v) || 'E-mail doit etre valide',
  ];

  handleSubmit() {
    if (this.validate === true) {
      //reset
      try {
        this.axiosUserPut();
      } catch (e) {
        console.log(e);
      }
    } else {
      console.log('faux !');
    }
  }

  get validate() {
    return (this.$refs.form as Vue & { validate: () => boolean }).validate();
  }

  async created() {
    await this.axiosUserDataGet();
  }

  disconnect() {
    deleteCookie('userId');
    this.$router.push('/');
    location.reload();
  }

  async axiosUserDataGet() {
    try {
      let userId = getCookie('userId');
      const response = await axios.get(`http://${url}:8000/user/${userId}`);
      this.login = response.data[0].login;
      this.password = response.data[0].password;
      this.email = response.data[0].email;
    } catch (e) {
      console.log(e);
    }
  }
  async axiosUserPut() {
    let columns: arrayColums[] = [
      { key: 'login', value: this.login },
      { key: 'email', value: this.email },
      { key: 'password', value: this.password },
    ];
    let userId = getCookie('userId');
    columns.forEach(async (element: arrayColums) => {
      try {
        await axios.put(
          `http://${url}:8000/edit/${userId}/${element.key}/${element.value}`
        );
      } catch (e) {
        console.log(e);
      }
    });
  }
}
</script>
