<template>
  <v-container style="max-width: 2000px;">
    <v-row>
      <v-col cols="12" sm="2">
        <GameTchat :testSocket="socket" />
      </v-col>

      <v-col cols="12" sm="8" class="pa-0 ma-0">
        <v-sheet rounded="lg" class="pa-0 ma-0"><Game /> </v-sheet>
      </v-col>

      <v-col cols="12" sm="2">
        <GameSideData />
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
// @ is an alias to /src
import '../router/componentHooks';
import Vue from 'vue';
import Component from 'vue-class-component';
import GameTchat from '../components/game/GameTchat.vue';
import GameSideData from '../components/game/GameSideData.vue';
import Game from '../components/game/Game.vue';
import io from 'socket.io-client';
import { getCookie } from '../utils/cookie-typescript-utils';
import url from '../ProdConst'
@Component({
  components: { GameTchat, GameSideData, Game },
})
export default class GamePage extends Vue {
  [x: string]: any;
  // @ is an alias to /src

  socket: any = {};

  created() {
    this.socket = io.connect(`http://${url}:3000`);
    let userId;
    if (getCookie('userId') !== undefined) {
      userId = getCookie('userId');
    } else {
      userId = 0;
    }
    this.socket.emit('joinRoom', {
      name: this.playerName,
      roomName: this.roomName,
      userId: userId,
    });
    this.$store.dispatch('setSocket', this.socket);
  }

  //avant de quitter la page game demandez si vous etes sur sinon tout reset
  beforeRouteLeave(to: any, from: any, next: any) {
    const answer = window.confirm('Voulez vous vraiment quittez la partie ?');
    if (answer) {
      next();
      this.socket.disconnect();
      this.$store.dispatch('setPlayerName', { newPlayerName: '' });
      this.$store.dispatch('setRoomName', { newRoomName: '' });
      this.$store.dispatch('setSocket', { socket: {} });
    } else {
      next(false);
    }
  }
  get roomName() {
    return this.$store.getters['getRoomName'];
  }
  get playerName() {
    return this.$store.getters['getPlayerName'];
  }
}
</script>
