<template>
  <v-container style="max-width: 2000px;">
    <v-sheet class="pa-6" min-height="70vh" rounded="lg">
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
          v-model="room"
          :rules="roomRules"
          :counter="10"
          label="Creer/Rejoindre une salle"
          required
        ></v-text-field>

        <v-btn class="mr-4" @click="submit" :disabled="!valid">
          Rejoindre
        </v-btn>
      </v-form>
    </v-sheet>
  </v-container>
</template>

<script lang="ts">
// @ is an alias to /src
import Vue from 'vue';
import Component from 'vue-class-component';
import axios from 'axios';
import { getCookie } from '../utils/cookie-typescript-utils';
import url from '../ProdConst'

@Component({
  components: {},
})
export default class GameConnexionPage extends Vue {
  [x: string]: any;
  room = '';
  name = '';
  valid = true;
  roomRules = [
    (v: string) => !!v || 'Salle est requis ',
    (v: string) =>
      (v && v.length <= 10) || 'Salle doit être plus petit que 10 characteres',
  ];

  submit() {
    if (this.validate() === true) {
      this.$store.dispatch('setRoomName', { newRoomName: this.room });
      this.$store.dispatch('setPlayerName', { newPlayerName: this.name });
      this.$router.push('jeu');
    } else {
      console.log('raté');
    }
  }
  validate() {
    return (this.$refs.form as Vue & { validate: () => boolean }).validate();
  }

  async created() {
    if (getCookie('userId') !== undefined) {
      await this.axiosUserDataGet();
    } else {
      await this.generateRandomPseudo();
    }
  }

  async axiosUserDataGet() {
    try {
      let userId = getCookie('userId');
      const response = await axios.get(`http://${url}:8000/user/${userId}`);
      this.name = response.data[0].login;
    } catch (e) {
      console.log(e);
    }
  }

  async generateRandomPseudo() {
    try {
      const response = await axios.get(
        `https://namey.muffinlabs.com/name.json?count=1&type=surname&frequency=common`
      );
      if (response.data !== undefined) {
        this.name = response.data[0];
      }
    } catch (e) {
      console.log(e);
    }
  }
}
</script>
