<template>
  <v-container style="max-width: 2000px;">
    <v-sheet class="pa-6" min-height="70vh" rounded="lg">
      <h1>Inscription</h1>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
          v-model="login"
          :counter="25"
          :rules="loginRules"
          label="Login"
          required
        ></v-text-field>

        <v-text-field
          v-model="email"
          :rules="emailRules"
          label="E-mail"
          required
        ></v-text-field>

        <v-text-field
          v-model="password"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="passwordRules"
          :type="showPassword ? 'text' : 'password'"
          name="input-10-1"
          label="Mot de passe"
          hint="Au moins 8 caractères"
          required
          @click:append="showPassword = !showPassword"
        ></v-text-field>

        <v-btn :disabled="!valid" class="mr-4" @click="handleSubmit">
          Validate
        </v-btn>
      </v-form>
    </v-sheet>
  </v-container>
</template>

<script lang="ts">
// @ is an alias to /src

import Vue from 'vue';
import axios from 'axios';
import Component from 'vue-class-component';
import { setCookie } from '../utils/cookie-typescript-utils';
import url from '../ProdConst'

@Component({
  components: {
    // ConnexionForm,
  },
})
export default class ConnexionPage extends Vue {
  [x: string]: any;
  showPassword = false;
  login = '';
  email = '';
  password = '';
  valid = true;
  loginRules = [
    (v: string) => !!v || 'Login est requis',
    (v: string) =>
      (v && v.length <= 25) || 'Login doit être plus petit que 25 caractères',
    (v: string) =>
      (v && v.length >= 4) || 'Login doit être plus grand que 4 caractères',
  ];
  passwordRules = [
    (v: string) => !!v || 'Mot de passe est requis',
    (v: string) =>
      (v && v.length <= 25) ||
      'Mot de passe doit être plus petit que 25 caractères',
    (v: string) =>
      (v && v.length >= 8) ||
      'Mot de passe doit être plus grand que 8 caractères',
  ];
  emailRules = [
    (v: string) => !!v || 'E-mail est requis',
    (v: string) => /.+@.+\..+/.test(v) || 'E-mail doit etre valide',
  ];

  async handleSubmit() {
    if (this.validate === true) {
      try {
        await this.axiosInscriptionPost();
        this.$router.push('/');
        location.reload();
      } catch (e) {
        console.log(e);
      } finally {
        //reset
        (this.$refs.form as Vue & { reset: () => boolean }).reset();
      }
    } else {
      console.log('faux !');
    }
  }

  get validate() {
    return (this.$refs.form as Vue & { validate: () => boolean }).validate();
  }

  async axiosInscriptionPost() {
    let data = {
      login: this.login,
      email: this.email,
      password: this.password,
    };
    const response = await axios.post(`http://${url}:8000/register`, data);
    // if (response.data !== undefined)  set coockies

    if (response.data.userId !== undefined) {
      setCookie('userId', response.data.userId);
    }
  }
}
</script>
