<template>
  <v-container style="max-width: 2000px;">
    <v-sheet class="pa-6" min-height="70vh" rounded="lg">
      <v-row>
        <h1>Classement Spawk.io</h1>
      </v-row>
      <v-card class="mt-2">
        <v-card-title>
          <v-img
            max-height="110"
            max-width="150"
            src="@/assets/spawk.io.png"
          ></v-img>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Rechercher par joueur"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="players"
          :search="search"
          sort-by="score"
          :sort-desc="true"
          :footer-props="{
            itemsPerPageText: 'joueurs par page',
            itemsPerPageAllText: 'tous',
            pageText: 'Spawk.io',
          }"
          locale="fr"
        >
        </v-data-table>
      </v-card>
    </v-sheet>
  </v-container>
</template>

<script lang="ts">
// @ is an alias to /src

import Vue from 'vue';
import axios from 'axios';
import Component from 'vue-class-component';
import url from '../ProdConst'

interface userData {
  email: string;
  id: number;
  login: string;
  loss: number;
  password: string;
  score: number;
  win: number;
}
interface playerRank {
  name: string;
  score: number;
  win: number;
  loss: number;
  winPercentile: number;
}
@Component
export default class RankingPage extends Vue {
  search = '';
  headers = [
    {
      text: 'Joueur',
      align: 'start',
      sortable: false,
      value: 'name',
    },
    { text: 'Score', value: 'score' },
    { text: 'Victoire', value: 'win' },
    { text: 'Défaite', value: 'loss' },
    { text: 'Victoire (%)', value: 'winPercentile' },
  ];
  players: playerRank[] = [];

  created() {
    this.axiosRankingGet();
  }

  async axiosRankingGet() {
    try {
      const response = await axios.get(`http://${url}:8000/ranking`);
      if (response.data !== []) this.convertIntoRankingArray(response.data);
    } catch (e) {
      console.log(e);
    }
  }
  //: string|number[]
  convertIntoRankingArray(usersData: userData[]) {
    let newRankingArray: playerRank[] = [];
    usersData.forEach((elem: userData) => {
      let tempRankValue: playerRank = {
        name: elem.login,
        score: elem.score,
        win: elem.win,
        loss: elem.loss,
        winPercentile: this.convertToPercentile(elem.win, elem.loss),
      };
      newRankingArray.push(tempRankValue);
    });
    this.players = newRankingArray;
  }
  convertToPercentile(win: number, loss: number): number {
    if (win === 0 && loss === 0) return 0;
    let percentil = ((win / (win + loss)) * 100).toFixed(2);
    return parseFloat(percentil);
  }
}
</script>
