<template>
  <div>
    <v-sheet class="about pa-3" rounded="lg" min-height="268">
      <h1 class="text-center">{{ round }}/10</h1>
      <v-simple-table max-height="50">
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-center">Joueurs {{ nbrPlayer }} / 5</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in playersList" :key="item.name">
              <td v-if="item.isHunter">
                <span class="red--text">{{ item.name }}</span>
              </td>
              <td v-else>
                <span class="green--text">{{ item.name }}</span>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-sheet>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import store from '../../store/index';
interface Player {
  posX: number;
  posY: number;
  radius: number;
  socket: string;
  name: string;
  isHunter: boolean;
}
@Component
export default class GameSideData extends Vue {
  public playersList: { name: string; isHunter: boolean }[] = [];
  public nbrPlayer = 0;
  public round = 0;
  mounted() {
    console.log(store.getters.getSocket);
    this.socket.on('handleRoomState', (data: any) => {
      this.round = data.round;
    });
    this.socket.on('handlePlayersState', (data: any) => {
      if (data.players.length === 0) {
        return;
      }
      let newPlayersList: { name: string; isHunter: boolean }[] = [];
      data.players.forEach((player: Player) => {
        newPlayersList.push({ name: player.name, isHunter: player.isHunter });
      });
      this.nbrPlayer = data.players.length;
      this.playersList = newPlayersList;
    });
  }

  get roomName() {
    return this.$store.getters['getRoomName'];
  }
  get socket() {
    return this.$store.getters['getSocket'];
  }
}
</script>
