<template>
  <canvas id="canvas"></canvas>
</template>
<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import store from '../../store/index';
import { Drawer } from './DrawerClass';
import { AudioClass } from './AudioClass';
interface Player {
  posX: number;
  posY: number;
  radius: number;
  socket: string;
  name: string;
  isHunter: boolean;
  isSafe: boolean;
  bonus : null | number
}

@Component({})
export default class Game extends Vue {
  public canvas!: HTMLCanvasElement;
  public ctx!: CanvasRenderingContext2D;
  public drawer!: Drawer;
  public direction = { left: false, right: false, up: false, down: false };
  public isGameReady = false;
  public gameStatus = 'En attente';
  public timer = "60"

  beforeMount() {
    window.addEventListener('keydown', this.handleKeydown, false);
    window.addEventListener('keyup', this.handleKeyUp, false);
  }
  beforeDestroy() {
    window.removeEventListener('keydown', this.handleKeydown);
    window.removeEventListener('keyup', this.handleKeyUp);
  }

  submitEventMovement() {
    if (this.direction.left === true && this.direction.right === false) {
      this.sendMoveEvent('gauche');
    }
    if (this.direction.right === true && this.direction.left === false) {
      this.sendMoveEvent('droite');
    }
    if (this.direction.up === true && this.direction.down === false) {
      this.sendMoveEvent('haut');
    }
    if (this.direction.down === true && this.direction.up === false) {
      this.sendMoveEvent('bas');
    }
  }

  handleKeyUp(e: any) {
    if (e.keyCode === 37 || e.keyCode === 81) {
      this.direction.left = false;
    }
    if (e.keyCode === 38 || e.keyCode === 90) {
      this.direction.up = false;
    }
    if (e.keyCode === 39 || e.keyCode === 68) {
      this.direction.right = false;
    }
    if (e.keyCode === 40 || e.keyCode === 83) {
      this.direction.down = false;
    }
  }

  handleKeydown(e: any) {
    // console.log(e.keyCode);
    if (e.keyCode === 37 || e.keyCode === 81) {
      this.direction.left = true;
    }
    if (e.keyCode === 38 || e.keyCode === 90) {
      this.direction.up = true;
    }

    if (e.keyCode === 39 || e.keyCode === 68) {
      this.direction.right = true;
    }
    if (e.keyCode === 40 || e.keyCode === 83) {
      this.direction.down = true;
    }
    if(e.keyCode === 32){
      //event bonus
      this.sendBonusEvent();
    }
  }

  mounted() {
    console.log(store.getters.getSocket);
    AudioClass.playAudioVictory();
    this.canvas = document.getElementById('canvas') as HTMLCanvasElement;
    this.canvas.width = 800;
    this.canvas.height = 500;
    this.ctx = this.canvas.getContext('2d')!;
    this.drawer = new Drawer(this.ctx, this.canvas);
    this.drawer.setPolice();
    setInterval(() => this.submitEventMovement(), 5);
    this.socket.on('handleRoomState', (data: any) => {
      this.isGameReady = data.state;
      if (data.state === true) {
        this.gameStatus = 'Partie terminé';
        this.timer = data.remainingTime.toString()
      }
  
    });
    this.socket.on('handlePlayersState', (data: any) => {
      if (data.players.length === 0 || this.isGameReady === false) {
        if(this.gameStatus !== "En attente"){
          this.drawer.clearCanvas(true);  
        }
        
        this.drawer.drawWaitingScreen(this.gameStatus);
        return;
      }
      this.drawer.clearCanvas();
      this.drawer.drawTimer(this.timer)
      data.players.forEach((player: Player) => {
        this.drawer.drawPlayer(
          player.posX,
          player.posY,
          player.radius,
          player.name,
          player.isHunter,
          player.isSafe,
          player.bonus
        );
      });
    });
    this.socket.on('playerHit', () => {
      AudioClass.playAudioHit();
    });
    this.socket.on('playerSafe', () => {
      AudioClass.playAudioFinish();
    });
  }

    sendBonusEvent() {
    this.socket.emit('bonus');
  }

  sendMoveEvent(direction: string) {
    this.socket.emit('move', { direction: direction });
  }

  //handlePlayerState

  get socket() {
    return this.$store.getters['getSocket'];
  }
}
</script>

<style scoped>
#canvas {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
</style>
