<template>
  <div class="">
    <v-card class="mx-auto">
      <v-toolbar color="grey accent-4" dark>
        <v-toolbar-title>Salle : {{ roomName }}</v-toolbar-title>

        <v-spacer></v-spacer>
      </v-toolbar>

      <v-list class="pa-1 example" id="tchat">
        <v-list-item v-for="chat in messages" :key="chat.id">
          <v-list-item-content style="padding: 0px">
            <p>
              <b>{{ chat.name }} : </b>{{ chat.message }}
            </p>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <v-text-field
        class="ma-0 pa-0"
        hide-details
        v-model="messageToSend"
        v-on:keyup.enter="addMessage"
        label="Votre Message"
        solo
        maxlength="100"
      ></v-text-field>
    </v-card>
  </div>
</template>

<script lang="ts">
// @ is an alias to /src
// import io from 'socket.io-client';
import Vue from 'vue';

import Component from 'vue-class-component';
@Component
export default class GameTchat extends Vue {
  [x: string]: any;
  playerName = '';
  messageToSend = '';
  id = 0;
  messages: { id: number; name: string; message: string }[] = [];
  mounted() {
    this.socket.on(
      'message',
      (data: { playerName: string; message: string }) => {
        this.id++;
        this.messages.push({
          id: this.id,
          name: data.playerName,
          message: data.message,
        });
        setTimeout(() => this.scrollToEnd(), 10);
      }
    );
  }

  addMessage() {
    this.socket.emit('message', { message: this.messageToSend.trim() });
    this.messageToSend = '';
  }

  scrollToEnd() {
    document.getElementById('tchat')!.scrollTop = document.getElementById(
      'tchat'
    )!.scrollHeight;
  }
  get roomName() {
    return this.$store.getters['getRoomName'];
  }
  get socket() {
    return this.$store.getters['getSocket'];
  }
}
</script>
<style scoped>
.example {
  max-height: 60vh;
  overflow-y: scroll; /* Add the ability to scroll */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
</style>
